{{#if isPortal}}
{{else}}
<div id="sign-in-left">
	<div id="sign-in-title" class="trailer-2">
		<h2>{{labels.title}}</h2>
	</div>
	<div id="my-stories-explanation" class="trailer-2">
		<div class="explanation trailer-1">
			<div class="explanation-icon icon-check"></div><!--
		 --><div class="explanation-text-container">
				<h4 class="explanation-text">{{labels.reasonOne}}</h4>
			</div>
		</div>
		<div class="explanation trailer-1">
			<div class="explanation-icon icon-check"></div><!--
		 --><div class="explanation-text-container">
				<h4 class="explanation-text">{{labels.reasonTwo}}</h4>
			</div>
		</div>
		<div class="explanation">
			<div class="explanation-icon icon-check"></div><!--
		 --><div class="explanation-text-container">
				<h4 class="explanation-text">{{labels.reasonThree}}</h4>
			</div>
		</div>
	</div>
	<div id="how-sign-up">
		<div class="sign-up-text-container">
	 		<h5 class="subordinate-text">{{labels.noAccountYet}}</h5>
			<h5 class="subordinate-text">{{labels.signUpFor}}</h5>
	 		<div>
	 			&bull;<a href="{{publicLink}}" target="_blank" class="sign-up-link">{{labels.publicAccount}}</a>
	 		</div>
	 		<div>
	 			&bull;<a href="http://links.esri.com/storymaps/agol_trial_subscription" target="_blank" class="sign-up-link">{{labels.subscriptionAccount}}</a>
	 		</div>
		</div>
	</div>
</div><!--
-->{{/if}}<div id="sign-in-right">
	<div id="token-expired-container" class="alert info">
		<span id="token-expired">{{labels.signInExpired}}</span>
	</div>
	<div id="api-didnt-load-container" class="alert error">
		<span id="api-didnt-load">{{labels.somethingNotLoading}}</span>
	</div>
	<iframe id="sign-in-frame" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" width="330px" height="470px"></iframe>
</div>
