<div class="app-item final">
  <h3 class="ask-pros-title">{{title}}</h3>
  <div class="version">
    {{#ifEquals app.value 'basic'}}
      <div class="create-app-image-container final trailer-half">
        <a href={{app.url}} class="image-wrapper" target="_blank">
          <img src="{{app.thumbnail}}">
        </a>
      </div>
      <a href={{app.url}} class="btn clear clear-inverse" target="_blank">{{finalApp.letsBuild}}</a>
    {{else}}
      <div class="create-app-image-container final trailer-half">
        <img src="{{app.thumbnail}}" data-template="{{app.template}}">
      </div>
      <a class="btn clear clear-inverse" data-template="{{app.template}}">{{finalApp.letsBuild}}</a>
    {{/ifEquals}}
  </div>
  <div class="app-reason">
    <p>{{app.reason}}</p>
  </div>
  <div class="see-example">
    <a href="{{app.example}}" target="_blank">{{finalApp.seeExample}}</a>
  </div>
</div>
